/**
 * Event tag, colored with colors of qa track (purple).
 */

@import "../default";

.button {
  color: $tc-purple;
  background-color: $tc-purple-10;

  &:active,
  &:focus,
  &:hover {
    color: $tc-purple;
    background-color: $tc-purple-10;
  }

  &:visited {
    color: $tc-purple;
  }
}
