/**
 * Event tag, colored with colors of qa track (purple).
 */

@import "../default";

.button {
  color: $tc-purple-120;
  background-color: $tc-purple-20;

  &:active,
  &:focus,
  &:hover {
    color: $tc-purple;
    background-color: $tc-purple-30;
  }

  &:visited {
    color: $tc-purple;
  }
}
