/**
 * Primary tag, colored with colors of develop track (green).
 */

@import "../default";

.button {
  background-color: $tc-green;
  color: $tc-white;

  &:active,
  &:focus,
  &:hover {
    color: $tc-gray-80;
    background-color: $tc-dark-blue-30;
  }

  &:visited {
    color: $tc-white;
  }
}
