/**
 * Primary tag, colored with colors of qa track (purple).
 */

@import "../default";

.button {
  background-color: $tc-purple-120;
  color: $tc-white;

  &:active,
  &:focus,
  &:hover {
    color: $tc-white;
    background-color: $tc-purple;
  }

  &:visited {
    color: $tc-white;
  }
}
